# Old versions
correlation_analysis.Rmd
correlation_analysis.html
correlation_analysis_v0.1.Rmd
correlation_analysis_v0.2.Rmd
correlation_analysis_v0.2.html

# R session files
.Rhistory
.RData
.Rproj.user/
*.Rproj

# knitr cache and figure folders
*_cache/
*_files/

# OS files
.DS_Store
Thumbs.db
